.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.body{
    height: 100%;
}
.footer{
   justify-content: space-between;
    justify-content: end;
    
}
