.container-fluid{
    width: 100%;
    display: flex;
    justify-content: space-between;
      background-color: aquamarine;
}
.left-section{
     
     height: 100%;
  
}
.right-section{
  
     height: 100%;
}