.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-section{
     background-color: aliceblue;
     height: 100%;
  
}
.right-section{
  background-color: bisque;
     height: 100%;
}