.firslist{
    background-color: aqua;
}
.list{
    height: 200px;
    border: solid 2px black;
    margin: 2rem;
}
.btn{
    height: 20px;
    width: 30px;
    background-color: blue;
    text-decoration: none;
    border: solid 2px sienna;

}